.jumbotron {
    padding: 32px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

img {
    display: inline-block;
    width: 15%;
    margin: 0 20px;
}

.title {
    display: inline-block;
    text-align: center;
}

.row {
    margin: 25px 0;
}

.card {
    margin-top: 10px;
    width: 75%;
    border: none;
    margin: 10px auto;
}

.devour-btn {
    margin-top: 10px;
    float: right;
}

.card-body {
    clear: both;
    vertical-align: middle;
    padding: 10px 25px;
    border-radius: 5px;
}

.col-sm {
    text-align: center;
}

h5 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #ffffff; 
    margin: 16px 0;
}

.col-sm.devour-it > .card > .card-body {
    background-color: #ffde4f;
} 

.col-sm.devoured > .card > .card-body {
    background-color:#EA0F00;
} 